.root {
    width: 100%;
    height: 50px;
    padding: 15px 20px 15px 20px !important;
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 15px;
    font-size: 22px !important;
    font-weight: 700 !important;
    border: none !important;
    color: #3F72A4 !important;
}

.root:hover {
    /* background-color: #A4C6E5; */
    background-color: red !important;
}

.active {
    background-color: #90bae1 !important;
}