<<<<<<< HEAD
=======
.myButton:hover {
    /* background-color: #A4C6E5 !important; */
    background-color: #A4C6E5 !important;
}

>>>>>>> cef19b7ad2508bc22ebb657b348138facfe6b433
.active {
    background-color: #90bae1 !important;
}

.darkActive {
    background-color: #162A3E !important;
}