* {
    box-sizing: border-box;
    font-family: Almarai, sans-serif;
}

:root {
    --primary-color: #1C364F;
    --secondary-color: #3F72A4;
    --third-color: #8CC3F2;
}

.dark-link {
    color: #1C364F;
    border-color: initial;
}

.light-link {
    color: #3F72A4;
    border: 4px solid #E0EEFF;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #E0EEFF;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #E0EEFF;
    -webkit-box-shadow: inset 0 0 6px #E0EEFF;
}

::-webkit-scrollbar-thumb {
    background-color: #B6D5F0;
    border: 3px solid #E0EEFF;
    border-radius: 12px;
}

@media (max-width: 700px) {
    ::-webkit-scrollbar-thumb {
        border: 3px solid #737577;
    }
}

svg {
    cursor: pointer;
}

/* =====================
    start my input style
======================== */

.selected {
    color: #1C364F !important;
    background: #B6D5F0 !important;
    border: 1px solid #1C364F;
}

.darkSelected {
    border: 1px solid #3F72A4 !important;
    background: #162A3E !important;
}

/* ===================
    end my input style
====================== */